*{
    padding: 0;
    margin: 0;
}

/* ENCABEZADO  */
header{
    display:grid;
    grid-template-columns: 1fr 5fr;

    background: rgb(46,171,31);
    background: linear-gradient(0deg, rgba(46,171,31,1) 23%, rgba(174,207,174,1) 100%);
    box-shadow: 1px 2px #2c2b2b;
}

#logoEncabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
#tituloEncabezado{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* FIN ENCABEZADO  */


/* CUERPO  */
main{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* BOTONES IZQ  */
.botonMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    font-size: 20px;
    border: solid 2px rgb(47, 47, 47);
    margin: 4px;
    background-color: rgb(92, 118, 95);
    color:aliceblue;
}

/* FIN CUERPO  */

